  <div class="header">
    <img src="https://raw.githubusercontent.com/ngx-formly/ngx-formly/v5/logo.svg?sanitize=true" alt="" width="72" height="72">
    <h4 class="mat-h2">Angular Formly Material</h4>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <formly-form
      [form]="form"
      [model]="model"
      [fields]="fields">
    </formly-form>

    <button type="submit" color="primary" mat-raised-button>
      Submit
    </button>

    <button type="reset" color="warn" mat-raised-button>
      Reset
    </button>
  </form>
